{% extends "index.html" %}
{% block title %} Fake Artist || How to Play {% endblock %}

<center>
  <h1>How to Play Fake Artist</h1>
    <p>Welcome to Fake Artist!  The rules are simple:
</center>
        <ol>
          <li> A category is chosen before the start of the game (e.g. Animals). </li>
          <li> A word in that category is randomly chosen by the computer (we
          could have a preset of words and categories, that part should be very
          trivial) </li>
          <li> This word is given to all players in the game EXCEPT for one. The
          player that does not receive a word is designated the "Fake Artist" </li>
          <li> Players take turns drawing one line each on a sheet of paper (or in
          our case a javascript canvas). The players' goal is to draw an image
          of the word they received. <br> The fake artist does not know the word and
          so must use other players' lines to try and guess what the image is. </li>
          <li> After a set amount of cycles (let's say five), the game ends and
          the players vote on who they think the fake artist is. If they guess
          wrong, the Fake Artist wins, otherwise the Fake Artist loses. </li>
          <li> Have fun! </li>
        </ol>
    </p>
  </body>
</html>
