<!DOCTYPE html>
<html>
    <head>
        <title>Fake Artist</title>
    </head>
    <body>
        <form>
            Name: <input type="text" id="createName"></input> <br>
            <input type="submit" id="createButton" value="CREATE"></input> <br>
        </form>
        <br>

        <form>
            Name: <input type="text" id="joinName"></input> <br>
            Room ID: <input type="text" id="joinRoomId"></input> <br>
            <input id="joinButton" type="submit" value="JOIN"></input>
        </form>

        <script src="/static/index.js"></script>
    </body>
</html>
